################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Parralelism/.vs/Parralelism/v15
/Parralelism/Parralelism/bin/Debug/netcoreapp2.1
/Parralelism/Parralelism/obj
/Parralelism/Tasks
/Parralelism/Threads/bin/Debug/netcoreapp2.2
/Parralelism/Threads/obj
/Parralelism/.vs/Parralelism/DesignTimeBuild
/Parralelism/AsyncAwait/bin/Debug/netcoreapp2.2
/Parralelism/AsyncAwait/obj
/Parralelism/Events/bin/Debug/netcoreapp2.2
/Parralelism/Events/obj/Debug/netcoreapp2.2
/Parralelism/Events/obj
/Parralelism/ManageMultiThreading/bin/Debug/netcoreapp2.2
/Parralelism/ManageMultiThreading/obj
/Parralelism/ExceptionHandling
